<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/public/assets/images/logo_new.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Bootstrap
    </a>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/article">Saved Articles</a></li>
            <li><a class="btn btn-danger scrape-new">Scrape Articles</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo TechEBlog Scraper</h1>
    <p>Get your news on the latest technology</p>
  </div>
</div>
<div class="container-fluid article-container">
</div>

<footer class="footer">
  <div class="container">
    <p>TechEBlog Scraper</p>
  </div>
</footer>

